.app{
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
  max-height: 100vh;
}

.app__left{
  flex: 0.9;
}

.app__right{
  display: flex;
  flex-direction: column;
}

.app__right .MuiCardContent-root{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.app__graph{
  flex-grow: 1;
}

.app__graphTitle{
  margin-top: 10px;
}


.app__header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.app__header > h1{
  color: #fc3c3c;
  font-size: 2rem;
}

.app__stats{
  display: flex;
  justify-content: space-between;

}

@media (max-width: 990px){
  .app{
    flex-direction: column;
    max-height: unset;
    
  }

  .app__right{
    margin-top: 15px !important;
  }
}

@media (max-width: 600px){
  .app{
    padding: 10px;
    padding-top: 30px;
  }

  
  .app__stats{
    flex-direction: column;
  }

  .app__header{
    flex-direction: column;
  }

  .app__dropdown{
    width: 100%;
    margin-top: 20px !important;
  }
}